[user]
	name = Ranko Radonic
	email = ranko.radonic@gmail.com
[color]
	ui = auto
	pager = false
[diff]
	colorMoved = plain
[push]
	default = simple
	autoSetupRemote = true
[alias]
	co = checkout
	si = switch
[pull]
	rebase = true
[core]
	editor = code --wait
	pager = tig
