[user]
	name = Ranko Radonic
	email = ranko.radonic@gmail.com
[color]
	ui = auto
[diff]
	tool = vimdiff
; [merge]
; 	tool = splice
; [mergetool "splice"]
; 	cmd = "vim -f $BASE $LOCAL $REMOTE $MERGED -c 'syntax off' -c 'SpliceInit'"
; 	trustExitCode = true
[mergetool]
	keepBackup = false
[push]
	default = simple
[alias]
	co = checkout
	lst = log --stat
