[user]
	name = Ranko Radonić
	email = ranko.radonic@gmx.com
[color]
	diff = auto
[diff]
	tool = vimdiff
[merge]
	tool = splice
[mergetool "splice"]
	cmd = "vim -f $BASE $LOCAL $REMOTE $MERGED -c 'SpliceInit'"
	trustExitCode = true
[mergetool]
	keepBackup = false
