URxvt.perl-ext:
URxvt.perl-ext-common:

URxvt.geometry: 190x160

URxvt.saveLines: 0
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.scrollBar: false
URxvt.pointerBlank: true
URxvt.pointerBlankDelay: 987654321

URxvt.jumpScroll: true
URxvt.skipScroll: true

/* URxvt.font: 10x20 */
/* URxvt.boldFont: 10x20 */
/* URxvt.italicFont: 10x20 */
/* URxvt.boldItalicFont: 10x20 */

/* URxvt.font: -*-terminus-*-r-*-*-20-*-*-*-*-*-*-* */
/* URxvt.boldFont: -*-terminus-*-r-*-*-20-*-*-*-*-*-*-* */
/* URxvt.italicFont: -*-terminus-*-r-*-*-20-*-*-*-*-*-*-* */
/* URxvt.boldItalicFont: -*-terminus-*-r-*-*-20-*-*-*-*-*-*-* */

URxvt.font: xft:UbuntuMono:size=18:style=Regular
URxvt.boldFont: xft:UbuntuMono:size=18:style=Regular
URxvt.italicFont: xft:UbuntuMono:size=18:style=Regular
URxvt.boldItalicFont: xft:UbuntuMono:size=18:style=Regular

URxvt.lineSpace: 1
URxvt.letterSpace: -1

*background:              #000000
*foreground:              #aaaaaa
*color0:                  #2e3436
*color1:                  #cc0000
*color2:                  #4e9a06
*color3:                  #c4a000
*color4:                  #3465a4
*color5:                  #75507b
*color6:                  #06989a
*color7:                  #d3d7cf
*color8:                  #555753
*color9:                  #ef2929
*color10:                 #8ae234
*color11:                 #fce94f
*color12:                 #729fcf
*color13:                 #ad7fa8
*color14:                 #34e2e2
*color15:                 #eeeeec
