/* remove zebra striping */
#threadTree treechildren::-moz-tree-row {
  background-color: white !important;
}

#threadTree treechildren::-moz-tree-row(selected) {
  background-color: #e5e3e1 !important;
}

#threadTree treechildren::-moz-tree-row(selected, focus) {
  background-color: #f18458 !important;
}
